*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    position: relative;
    margin: 0;
    transition: .5s
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 15px;
    position: absolute;
    width: 100%;
    height: 250%
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px
}

header .header_left {
    display: flex;
    align-items: center
}

header .header_left .header_menu {
    margin: 0 15px;
    width: 26px
}

header .header_left .youtube_logo {
    width: 80px;
    margin-left: 10px
}

header .search_bar {
    display: flex;
    margin: 0 8rem;
    flex-grow: 1;
    justify-content: center
}

header .search_bar input {
    width: 45%;
    font-size: 1rem;
    padding: 0px 10px;
    border: 1px solid #c6c6c6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 50px 0 0 50px
}

header .search_bar .search_btn {
    padding: 3px 1rem;
    border: 1px solid #c6c6c6;
    border-radius: 0 50px 50px 0;
    background-color: #f8f8f8;
    border-left: none;
    cursor: pointer;
    transition: .5s
}

header .search_bar .search_btn:hover {
    background-color: #c5c5c5
}

header .search_bar .search_voice {
    display: flex;
    align-items: center;
    width: 26px;
    margin-left: 1rem
}

header .menu_icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    grid-gap: 1.2rem
}

header .menu_icons img {
    width: 26px
}

header .menu_icons img:hover {
    background-color: #eee;
    border-radius: 5px;
    padding: -5px
}

header .menu_icons .your_channel {
    width: 36px;
    height: 36px;
    border-radius: 0;
    border-radius: 50%
}

.mainbody {
    display: flex;
    height: calc(100% - 70px)
}

.mainbody .sidebar {
    background-color: #f8f8f8;
    width: 230px
}

.mainbody .sidebar .active {
    background-color: #ececec;
    border-radius: 10px;
    margin: 0 8px;
    margin-top: 10px
}

.mainbody .sidebar .active:hover {
    background-color: #c3c3c3
}

.mainbody .sidebar_category {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px 10px;
    margin: 0 8px
}

.mainbody .sidebar_category span {
    font-size: .9rem;
    padding-left: 20px
}

.mainbody .sidebar_category:hover {
    background-color: #ebebeb;
    border-radius: 10px
}

.mainbody .video {
    width: 100%;
    position: relative;
    background-color: #f5f5f5;
    padding-left: 70px;
    padding-right: 50px
}

.mainbody .video .video_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem 1rem;
    margin: 0 1.5rem;
    padding: 3rem 0;
    border-top: 4px solid #ddd
}

.mainbody .video .video_section:first-child {
    border: none
}

.mainbody .video .video_section .video_section_title {
    display: flex;
    grid-column: 1/-1;
    justify-content: space-between;
    align-items: center;
    margin: -1rem 0;
    font-size: 1.5rem
}

.mainbody .video .video_section .video_section_title .video_section_close {
    border: none;
    background-color: none;
    cursor: pointer;
    font-size: 1.5rem
}

.mainbody .video .video_container {
    display: flex;
    flex-direction: column
}

.mainbody .video .video_container .thumbnail_img {
    width: 100%;
    height: 100%;
    border-radius: 12px
}

.mainbody .video .video_container .video_description {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem
}

.mainbody .video .video_container .video_description .chsnnel_icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: .75rem
}

.mainbody .video .video_container .video_description .video_details {
    display: flex;
    flex-direction: column
}

.mainbody .video .video_container .video_description .video_details a {
    color: #000;
    text-decoration: none
}

.mainbody .video .video_container .video_description .video_details .video_title {
    font-weight: 700;
    margin-bottom: .5rem
}

.mainbody .video .video_container .video_description .video_details .video_channel_name {
    color: #555;
    font-size: .9rem;
    margin-bottom: .1rem;
    transition: .5s
}

.mainbody .video .video_container .video_description .video_details .video_channel_name:hover {
    color: #313131
}

.mainbody .video .thumbnail {
    position: relative;
    display: flex
}

.mainbody .video .thumbnail::before {
    content: attr(data-duration);
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: #000;
    color: #fff;
    z-index: 1;
    padding: .1rem;
    font-size: .9rem
}

/*# sourceMappingURL=style.css.map */